{% extends "fin/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    	{% if validlink %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Set New Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Change Password</button>
            </div>
        </form>
        {% else %}
		    <div class="alert alert-danger" role="alert">
  			  <p>The password reset link was invalid, possibly because it has already been used or expired.</p>
		      <p>Please request a new password from your <a href="https://uas.usc.edu/panel"><strong>UAS panel dashboard page</strong></a>.</p>
			</div>
		    
		{% endif %}
    </div>
{% endblock content %} 	