{% extends 'fin/base.html' %}
{% load humanize %}
{% block content %}

<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
	<li class="breadcrumb-item active">{{ item.p_item_name }} </li>
</ol>
<div class="card border border-success bg-light">
	<div class="card-header">
		<div class="float-left">
      		<h6>Accounts in:</a></h6>
      		<h3 class="text-info">{{ item.p_item_name }}</h3>
			<p>
				{% if item.inactive %}
					{% if item.inactive_status == "ITEM_LOGIN_REQUIRED" %}
						<strong>Status: </strong><a class="btn btn-sm btn-danger" href="/relink/{{ item.pk }}">Inactive. Please Re-Link</a>	<br/>
					{% else %}
						<strong>Status: </strong><span class="text-danger"><strong>Account Error!</strong></span> Please contact the <a href="{% url 'help' %}">helpdesk.</a><br/>
					{% endif %}
				{% else %}
					<strong>Status: </strong><span class="text-success">Active</span><br/>
				{% endif %}
				<strong>Last Updated: </strong>{{ item.item_refresh_date|naturaltime|default_if_none:"<span class='text-danger'>Pending Refresh</span>" }}<br/>
			</p>
		</div>
	</div>
	<div class="card-body bg-white">
		<h6>Click each account for list of transactions.</h6>
		<div class="table-responsive">
			<table class="table table-sm table-bordered bg-white">
				<caption><a class="btn btn-outline-info btn-sm" href="{% url 'home'  %}">Back to Dashboard</a></caption>	
				<thead class="thead-light"><tr><th>Account</th><th class="d-none d-md-table-cell">Details</th><th class="d-none d-md-table-cell">Type</th><th>Balance</th></tr></thead>
				<tbody>
					{% for account in accounts %}
					<tr>
						<td><a class="btn btn-outline-info btn-sm btn-block text-left" href="{% url 'account_transactions' item_id=item.id account_id=account.id %}">{{ account.p_name }}</a></td>
						<td class="d-none d-md-table-cell">{{ account.p_official_name|default_if_none:"-" }}</td>
						<td class="d-none d-md-table-cell">{{ account.p_subtype|title }}</td>
						<td>${{ account.p_balances_current|floatformat:0|intcomma }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}