{% extends 'fin/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
	<li class="breadcrumb-item active">{{ item.p_item_name }} </li>
</ol>
<div class="card border border-success bg-light">
	<div class="card-header">
		<div class="float-left">
      		<h2 class="text-info mt-3 mb-3">{{ item.p_item_name }}</h2>
      		<p>
				{% if item.inactive %}
					{% if item.inactive_status == "ITEM_LOGIN_REQUIRED" %}
						<img src="{% static 'fin/warning.gif' %}" style="height:2rem;"/><span class="ml-2 text-danger"><strong>Account Inactive.</strong></span> The login details of this institution have changed. Please update by clicking on the "<strong>Re-Link Institution</strong>" button.</span>
						<br/><br/>
						<a class="btn btn-warning btn-md" href="{% url 'relink_account' item_id=item.pk %}"><strong>Re-Link Institution</strong></a>
					{% else %}
						<img src="{% static 'fin/warning.gif' %}" style="height:2rem;"/><span class="ml-2 text-danger"><strong>Account Error. </strong></span> Please notify the <a href="{% url 'help' %}">helpdesk.</a>
					{% endif %}
				{% else %}
					<img src="{% static 'fin/ok.png' %}" style="height:1.25rem;"/><span class="text-success ml-2"><strong>Active</strong></span>
				{% endif %}
			</p>
			<p>
	      		{% if item.item_refresh_date %}
					<span class='text-muted'>Refreshed {{ item.item_refresh_date|naturaltime }}</span>
				{% else %}
					<span class='text-muted'>Account Refresh Pending</span>
				{% endif %}
			</p>
		</div>
	</div>
	<div class="card-body bg-white">
		<h6>Click each account for list of transactions.</h6>
		<p><small>Please contact the UAS helpdesk if you would like to unlink certain accounts below.</small></p>
		<div class="table-responsive">
			<table class="table table-sm table-bordered bg-white">
				<caption>
					<br/><a class="btn btn-info btn-sm" href="{% url 'home'  %}">Back to Dashboard</a>
				</caption>	
				<thead class="thead-light"><tr><th>Account</th><th class="d-none d-md-table-cell">Details</th><th class="d-none d-md-table-cell">Type</th><th>Balance</th></tr></thead>
				<tbody>
					{% for account in accounts %}
					<tr>
						<td><a class="btn btn-outline-info btn-sm btn-block text-left" href="{% url 'account_transactions' item_id=item.id account_id=account.id %}">{{ account.p_name }}</a></td>
						<td class="d-none d-md-table-cell">{{ account.p_official_name|default_if_none:"-" }}</td>
						<td class="d-none d-md-table-cell">{{ account.p_subtype|title }}</td>
						<td>${{ account.p_balances_current|floatformat:0|intcomma }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
