{% extends 'fin/base.html' %}
{% block content %}
{% load humanize %}
<style>
.nounderline {
  text-decoration: none !important
}
</style>
<div id="intro">
	<div class="row">
		<div class="col-md-8">
			<div class="card border bg-light">
				<div class="card-header">
					<div class="float-left">
			      		<h4>Total Balance: $xx,xxx.xx</h4>
						<h6>Assets: $yy,yyy.yy</h6>
						<h6>Liabilities: $zz,zzz.zz</h6>
		    		</div>
		    		<div class="float-right mt-3 mr-3">
		      			<button class="link-btn btn btn-lg btn-primary">Link Another Account</button>
		    		</div>
				</div>
				<div class="card-body bg-white">
					<div class="accordion" id="accordionAccount">
						{% for key, value in accounts.items %}
						{% with cnt=forloop.counter %}
						<div class="card">
						    <div class="card-header" id="heading{{ cnt }}">
						      <h2 class="mb-0">
						        <button class="btn btn-link text-info nounderline" type="button" data-toggle="collapse" data-target="#collapse{{ cnt }}" aria-expanded="true" aria-controls="collapse1">
						          <h5>{{ cnt }}. {{ key }}<h5>
						        </button>
						      </h2>
						    </div>
						    {% ifequal cnt 1%}
						        <div id="collapse{{ cnt }}" class="collapse show" aria-labelledby="heading{{ cnt }}" data-parent="#accordionAccount">
					        {% else %}
					            <div id="collapse{{ cnt }}" class="collapse" aria-labelledby="heading{{ cnt }}" data-parent="#accordionAccount">
					        {% endifequal %}
						      <div class="card-body bg-white border border-info">
						        <table class="table table-sm table-hover table-bordered bg-white">
								<thead class="thead-light"><tr><th>#</th><th>Account</th><th>Details</th><th>Type</th><th>Balance</th></tr></thead>
								<tbody>
									{% for x in value %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td><a class="text-info nounderline" href="{% url 'account_details' account_id=x.fin_account_id %}">{{ x.fin_account_name }}</a></td>
										<td>{{ x.fin_account_official_name|truncatechars:20 }}</td>
										<td>{{ x.fin_account_subtype|title }}</td>
										<td>$ {{ x.fin_account_balance|floatformat:2|intcomma }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						      </div>
						    </div>
						  </div>
						{% endwith %}
						{% endfor %}
					</div>
				</div>
				<div class="card-footer">
					You have {{ accounts|length }} financial institution{% ifnotequal accounts|length 1 %}s{% endifnotequal %} linked. For each addutional institution you link, you will earn a reward of $10 right now, plus a reward of $5 every month.
				</div>
			</div>
			<br/><br/>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header bg-success text-white">
					<h6>Number of Institutions Linked: {{ accounts|length }}</h6>
					<h6>Monthly Rewards Earnings: ${% widthratio 5 1 accounts|length %}</h6></div>
			 </div>
			<div class="card mt-2">
			  <div class="card-body border border-success">
			    <p class="card-text">
			    	These are the accounts often linked by other survey participants. Please take a look at this list:
					<ul>
					<li>Checking Accounts</li>
					<li>Savings Accounts</li>
					<li>Credit Card Accounts</li>
					<li>Pre-paid Credit Card</li>
					<li>Money Market Accounts</li>
					<li>CD's</li>
					<li>Mortgages</li>
					<li>Home Equity Line of Credit (HELOC)</li>
					<li>Employer-sponsored retirement accounts (401k, 403(b), and similar)</li> 
					<li>Investment Retirement Accounts (IRA)</li>
					<li>Brokerage Accounts</li>
					</ul>
					Think about all the accounts in the financial institutions you have linked. Do you have accounts in other financial institutions you may have forgotten and would like to link?
				</p>
			  </div>
			</div>
		</div>
	</div>
</div>

<div id="success" class="panel-collapse collapse in">
	<div class="card mb-3">
		<div class="card-body">
	  		<h4 id="success_summary" class="card-title text-success"></h4>
	  		<p class="card-text pt-2">Would you like to link an another institution?<br/><br/>For each financial institution you link, you will earn a reward of $10 right now, plus a reward of $5 every month</p>
	  	</div>
	</div>
	<p>
		<button class="link-btn btn btn-lg btn-primary">Link Another Account</button>
		<button class="link-btn-dashboard ml-3 btn btn-lg btn-outline-info">Go to dashboard</button>
	</p>
</div>

<div id="failure" class="panel-collapse collapse in">
	<div class="card mb-3">
		<div class="card-body">
	  		<h4 id="failure_summary" class="card-title text-danger"></h4>
	  		<p class="card-text pt-2">Would you like to link a different institution?<br/><br/>For each financial institution you link, you will earn a reward of $10 right now, plus a reward of $5 every month</p>
	  	</div>
	</div>
	<p>
		<button class="link-btn btn btn-lg btn-primary">Link Another Account</button>
		<button class="link-btn-dashboard ml-3 btn btn-lg btn-outline-info">Go to dashboard</button>
	</p>
</div>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
  (function($) {
    $.ajaxSetup({ // SWOOP: CSRF Token
  		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

    $(document)
  		.ajaxStart(function () {
    		$('.container').hide();
  		})
  		.ajaxStop(function () {
			$('.container').show();
  		});

    var products = '{{ plaid_products }}'.split(',');
    if (products.includes('assets')) {
      $('#assets').show();
    }

    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'UASFin',
      env: '{{ plaid_environment }}',
      product: products,
      key: '{{ plaid_public_key }}',
      webhook: '{{ plaid_webhook_url }}',
      // token: 'public-sandbox-8e318f33-bbad-4b08-9e35-1be41ec10af3',
      onSuccess: function(public_token) {
        $.post('/get_access_token/', {
          public_token: public_token,
        }, function(data) {
          $('#intro').fadeOut('fast', function() {
          	window.console.log('\n\nItemId: ' + data.auth.item_id + '\nAccess Token: ' + data.auth.access_token + '\nRequest Id: ' + data.auth.request_id + '\nInstitution Id: ' + data.item.institution_id + '\nInstitution Name: ' + data.institution.name );
            if (data.duplicate) {
            	$('#failure_summary').html('<strong>' + data.institution.name + '</strong> account was previously linked!! </strong>');
            	$('#failure').show();
            	$('#success').hide();
            } else {
                $('#success_summary').html('<strong>' + data.institution.name + '</strong> was succesfully linked to UASFin!');
            	$('#success').show();
            	$('#failure').hide();
            }
          });
        });
      },
    });
    
    $('.link-btn').on('click', function(e) {
		handler.open();
    });

    $('.link-btn-dashboard').on('click', function(e) {
		window.location.href='/';
    });

     })(jQuery);

function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
}
</script>
{% endblock content %}
