{% extends 'fin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="card border bg-light">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						<span class="text btn btn-lg" disabled="true">{{ items|length }} Institution{% ifnotequal items|length 1 %}s{% endifnotequal %} Linked</span>
					</div>
					<div class="col-md-6">
						<a class="btn btn-lg btn-primary" href="{% url 'link_account' %}" role="button">Link More Institutions</a>
					</div>
	    		</div>
			</div>
			<div class="card-body bg-white responsive">
				<h6>Click on institution name for more details:</h6>
        		{% for item in items %}
				{% with cnt=forloop.counter %}
					<div class="row mt-3 mb-3">
						<div class="col-12">
							{% if item.inactive %}
								<a class="btn btn-outline-info btn-lg btn-block text-left" href="{% url 'account_details' item_id=item.id %}"><img src="{% static 'fin/warning.gif' %}" style="height:1.25rem;"/><span class="ml-2">{{ cnt }}. {{ item.p_item_name }}</span></a>
							{% else %}
								<a class="btn btn-outline-info btn-lg btn-block text-left" href="{% url 'account_details' item_id=item.id %}"><img src="{% static 'fin/ok.png' %}" style="height:1.25rem;"/><span class="ml-2">{{ cnt }}. {{ item.p_item_name }}</span></a>
							{% endif %}
						</div>
					</div>
					{% endwith %}
				{% endfor %}
			</div>
			<div class="card-footer">
				You have {{ items|length }} financial institution{% ifnotequal items|length 1 %}s{% endifnotequal %} linked. For each additional institution you link, you will earn a reward of ${{ treatment.reward_link }} right now, plus a reward of ${{ treatment.reward_monthly }} every month.
			</div>
		</div>
		<br/><br/>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-success text-white">
				<h6>Number of Institutions Linked: {{ items|length }}</h6>
				<h6>Monthly Rewards Earnings: {{ items|length }} x ${{treatment.reward_monthly}} = ${% widthratio treatment.reward_monthly 1 items|length %}</h6></div>
		 </div>
		<div class="card mt-2">
		  <div class="card-body border border-success">
		    <p class="card-text">
		    	These are the accounts often linked by other survey participants. Please take a look at this list:
				<ul>
				<li>Checking Accounts</li>
				<li>Savings Accounts</li>
				<li>Credit Card Accounts</li>
				<li>Pre-paid Credit Card</li>
				<li>Money Market Accounts</li>
				<li>CD's</li>
				<li>Mortgages</li>
				<li>Home Equity Line of Credit (HELOC)</li>
				<li>Employer-sponsored retirement accounts (401k, 403(b), and similar)</li> 
				<li>Investment Retirement Accounts (IRA)</li>
				<li>Brokerage Accounts</li>
				</ul>
				Think about all the accounts you have linked. Do you have accounts in other financial institutions you may have forgotten and would like to link?
			</p>
		  </div>
		</div>
	</div>
</div>
{% endblock content %}
