{% extends 'fin/base.html' %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
  <li class="breadcrumb-item active">About</li>
</ol>

<div class="card">
	<div class="card-header">
		<h6>About the UASFin study</h6>
	</div>
	<div class="card-body">
  		<div class="card-text">
  			<p>To participate in this study, we are asking you to link your financial accounts to our secure website. This is done through Plaid, a company trusted by millions of consumers to help them securely manage their spending and saving.</p>

			<p>The linking process is simple: 
				<ol>
				<li>Click on "Link Institution using Plaid"</li>
				<li>Find your financial institution in the list, or search for it using the search box</li>
				<li>Click on your financial institution logo</li>
				<li>Enter your financial institution credentials and click "Submit"</li>
				</ol>

				Repeat steps 1-4 for each of your financial institutions. Once your financial institutions are linked, you will see all your accounts in one place.</p>

				<p>For each financial institution you link, you will earn a reward, plus an additional reward every month that the account remains active. The green box on the dashboard screen tells you the total monthly rewards you have earned as you link institutions.</p>
			<p>Remember, <strong>UAS will NOT have access to your credentials or any other identifying information.</strong></p>
			<p>Your financial information will be kept secure and protected. Plaid will never share your login IDs, passwords, or any other personal information with UAS researchers or anyone else.</p>
		</div>
  	</div>
</div>
<!--
<div class="card mt-3">
	<div class="card-header">
		<h6>Help Topics</h6>
	</div>
	<div class="card-body">
		<div class="card-text">
		</div>
	</div>
</div>
-->

{% endblock content %}