{% extends 'fin/base.html' %}
{% block content %}
<div id="summary">
	<div class="card border mb-3">
	  <div class="card-body">
	  	<h4 class="card-title">These are the accounts often linked by other survey participants:</h4>
	    <p class="card-text">
	    	<ul>
			<li>Checking Accounts</li>
			<li>Savings Accounts</li>
			<li>Credit Cards</li>
			<li>Prepaid Cards</li>
			<li>Long-term Savings Accounts</li>
			<li>Mortgages</li>
			<li>Home Equity Line of Credit (HELOC)</li>
			<li>Retirement Accounts (401k, 403(b), IRA, and similar)</li> 
			<li>Brokerage Accounts</li>
			</ul>
			Have you forgotten to link any of your accounts?
		</p>
	  </div>
	</div>
	<p>
		<a class="btn btn-lg btn-primary mt-2 mr-3" href="{% url 'link_account' %}" role="button">Link Another Institution</a>
		<a class="btn btn-lg btn-outline-info mt-2" href="{% url 'link_account_thankyou' %}" role="button">No</a>
	</p>
</div>
{% endblock content %}