{% extends 'fin/base.html' %}
{% block content %}
<style>
.embed-responsive-custom {
	position:relative;
	width:100%;
	min-height:596px;
}
</style>
<script>
	var next_question = "{{next_question}}_{{plaid_linkbox_title}}";
	console.log(next_question);
</script>
<div class="row">
	<div class="col-md-12 text-center">
		{% if linkbox_text %}
			{{ linkbox_text|safe }}.<br/>
			(This will also connect other accounts you have at this institution.)
			{{ link_type }}
		{% endif %}
	</div>
	<div class="col-md-12">
		<div class="embed-responsive embed-responsive-custom">
			{% if next_question and plaid_linkbox_title %}
				<iframe class="embed-responsive-item" src="{% url 'link_iframe' next_question=next_question|add:'_'|add:plaid_linkbox_title %}"></iframe>
			{% else %}
				<iframe class="embed-responsive-item" src="{% url 'link_iframe' %}"></iframe>
			{% endif %}
		</div>
	</div>
	<!--
	<div class="col-md-5">
		<div class="card mt-5">
			<div class="card-header bg-success text-white">
				<h6>Total Number of Institutions Linked: {{ items }}</h6>
				<h6>Total Rewards for Linking: ${% widthratio treatment.reward_link 1 items %}</h6>
				<h6>Total Monthly Rewards Earnings: ${% widthratio treatment.reward_monthly 1 items %}</h6>
			</div>
			<div class="card-body">
				<h5><span class="text-dark">Institution Linking Steps</span></h5>
				<p>
				<ol>
					<li>Click "Get Started"</li>
					<li>
						Look for your financial institution in the list <small>(you can scroll down for more institutions)</small>
						<br/><span class="ml-3">or <br/>
						Search for it using the search box
					</li>
					<li>Click on your financial institution's logo</li>
					<li>Enter your financial institution's credentials and click "Submit"</li>
				</ol>
				</p>
			</div>
			<div class="card-footer">
				<p>You have {{ items }} institution{% ifnotequal items 1 %}s{% endifnotequal %} linked. For each institution you link, you will earn a reward of ${{ treatment.reward_link }}, plus a reward of ${{ treatment.reward_monthly }} every month that the account remains active.</p>
			</div>
		</div>
	</div>
	-->
</div>
{% endblock content %}
