{% extends 'fin/base.html' %}
{% block content %}
<style>
.embed-responsive-custom {
	position:relative;
	width:100%;
	min-height:596px;
}
</style>
<div class="row">
	<div class="col">
		<div class="embed-responsive embed-responsive-custom">
			<iframe class="embed-responsive-item" src="{% url 'link_iframe' %}"></iframe>
		</div>
	</div>
	<div class="col pl-5 d-none d-md-block">
		<div class="card mt-5">
			<div class="card-header bg-success text-light">
				<h5>Account linking steps</h5>
			</div>
			<div class="card-body">
				<p>
				<ol>
					<li>Click "Get Started"</li>
					<li>
						Look for your financial institution in the list (you can scroll down for more institutions)
						<br/>&nbsp;&nbsp;or <br/>
						search for it using the search box
					</li>
					<li>Click on your financial institution's logo</li>
					<li>Enter your financial institution's credentials and click "Submit"</li>
				</ol>
				</p>
			</div>
			<div class="card-footer">
				<p>You have {{ items }} institution{% ifnotequal items 1 %}s{% endifnotequal %} linked. For each institution you link, you will earn a reward of $10 right now, plus a reward of $5 every month.</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
