/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.sticky-footer-wrapper {
	/* Can also use class vh-100 with bootstrap4 */
	min-height:100vh;
}

.flex-fill {
	flex:1 1 auto;
	/* Can also use class pb-5 with bootstrap4 */
	padding-bottom: 3rem;
}

main > .container {
	padding: 60px 15px 0;
}

.footer {
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.td-compact
{
  white-space:nowrap;
  vertical-align:top;
}